<!DOCTYPE html>
<html>
  <head></head>
  <title>Project1 - Twitter Feed</title>
</html>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- link(rel='stylesheet',href='/stylesheets/dashboard.css')-->
<body>
  <div id="div_love">
    <ul class="tweet_love"></ul>
  </div>
  <div id="chart_div"></div>
  <div id="div_hate">
    <ul class="tweet_hate"></ul>
  </div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<p id="ss-message"></p>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/javascripts/google_script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/client.socket.io.js"></script>