doctype html
html
  head
  title Project1 - Twitter Feed
link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
link(rel='stylesheet',href='/stylesheets/style.css')

block styles
body
   block content
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
p#ss-message
block scripts
